Flask
Flask-SocketIO
python-socketio
python-engineio
requests
pandas
numpy
matplotlib
seaborn
plotly
yfinance
python-dotenv
Werkzeug
eventlet
fredapi
aiohttp
asyncio-throttle
websockets
gevent
gevent-websocket
cryptography
urllib3
scikit-learn
scipy